/* Chrome 119.0.6045.123 */

dialog:modal {
	overlay: auto !important;
}
dialog:-internal-dialog-in-top-layer {
	position: fixed;
	inset-block-start: 0px;
	inset-block-end: 0px;
	max-width: calc((100% - 6px) - 2em);
	max-height: calc((100% - 6px) - 2em);
	user-select: text;
	visibility: visible;
	overflow: auto;
}
dialog[open] {
	display: block;
}
dialog {
	display: none;
	position: absolute;
	inset-inline-start: 0px;
	inset-inline-end: 0px;
	width: fit-content;
	height: fit-content;
	background-color: canvas;
	color: canvastext;
	margin: auto;
	border-width: initial;
	border-style: solid;
	border-color: initial;
	border-image: initial;
	padding: 1em;
}

dialog:-internal-dialog-in-top-layer::backdrop {
	position: fixed;
	inset: 0px;
	background: rgba(0, 0, 0, 0.1);
}
